// reset
@import "reset";

// gateway styles
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
$sans: 'Open Sans';
$white: #FFFFFF !default;
$black: #333333;
$gray: #F2F2F2;
$text: #323130;
$border: #C4CBD4;
$notice: #CEEBF1;
$error: #F8C0C0;
$warning: #FFECB4;
$placeholder: #A39F9B;
$primary: #0050B2 !default;
$offwhite: #E5E5E5;
$lighttext: #605E5C;

@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
}

@import "tables";

// layout
body, html {
  font-family: $sans,
  sans-serif;
  padding: 0;
  margin: 0;
}
main {
  color: $text;
  a {color: $primary;}
}
.flex-container {
  display: flex;
}
.col {
  flex: 1 1 auto;
}
.last-col {
  flex: 20 1 auto;
}
.layout-container {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
section + section {
  margin-top: 1.5em;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.spaced {
  margin-top: 1em;
  margin-bottom: 1em;
}

//breadcrumbs";
.breadcrumbs {
  padding: 8px 0;
  span {font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $lighttext;
  a {color: $lighttext;}
  &:after {content: '/'; margin-left: 8px; margin-right: 8px}
  &:last-of-type {font-weight: bold;}
  &:last-of-type::after {content: "";}
  }
}

//@import "gateway_styles/forms";
label, input, textarea, select {
font-size: 16px;
line-height: 24px;}
label {
  display: block;
  font-weight: 600;
}
button {
  background: $primary;
  border-radius: 6px;
  color: $white;
  font-weight: 700;
  border: 0;
  padding: 4px 10px;
}

//search 
.search-input {
  border: 1px solid rgb(133, 133, 133);
  border-radius: 2px;
  display: flex;
  width: 300px;
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 1px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  .search-button {
    background: none;
    text-indent: -999px;
    overflow: hidden;
    color: $primary;
    background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10.5L15 15M12 6.5C12 9.53757 9.53757 12 6.5 12C3.46243 12 1 9.53757 1 6.5C1 3.46243 3.46243 1 6.5 1C9.53757 1 12 3.46243 12 6.5Z' stroke='#{url-friendly-colour($primary)}' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: center center;
  }
}


//date selector
.date-range-selector {
  margin: 1em 0;
  label { display: inline; }
  input + label {margin-left: 1em;}
}
::-webkit-calendar-picker-indicator { 
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V7H3V6Z' fill='#{url-friendly-colour($primary)}'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 8H3V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V8ZM7.25 11.25C6.55964 11.25 6 11.8096 6 12.5C6 13.1904 6.55964 13.75 7.25 13.75C7.94036 13.75 8.5 13.1904 8.5 12.5C8.5 11.8096 7.94036 11.25 7.25 11.25ZM6 16.5C6 15.8096 6.55964 15.25 7.25 15.25C7.94036 15.25 8.5 15.8096 8.5 16.5C8.5 17.1904 7.94036 17.75 7.25 17.75C6.55964 17.75 6 17.1904 6 16.5ZM12 11.25C11.3096 11.25 10.75 11.8096 10.75 12.5C10.75 13.1904 11.3096 13.75 12 13.75C12.6904 13.75 13.25 13.1904 13.25 12.5C13.25 11.8096 12.6904 11.25 12 11.25ZM10.75 16.5C10.75 15.8096 11.3096 15.25 12 15.25C12.6904 15.25 13.25 15.8096 13.25 16.5C13.25 17.1904 12.6904 17.75 12 17.75C11.3096 17.75 10.75 17.1904 10.75 16.5ZM16.75 11.25C16.0596 11.25 15.5 11.8096 15.5 12.5C15.5 13.1904 16.0596 13.75 16.75 13.75C17.4404 13.75 18 13.1904 18 12.5C18 11.8096 17.4404 11.25 16.75 11.25Z' fill='#{url-friendly-colour($primary)}'/%3E%3C/svg%3E%0A");
}


//payloads
.payload label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.payload .value {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

//headings
h1, .alpha {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 10px 0;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  span {
    font-weight: normal;
  }
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  span {
    font-weight: normal;
  }
}
h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  span {
    font-weight: normal;
  }
}
.darker-font {
  color: darken($primary, 10%)
}
//header
header {
  background: black;
  color: white;
  font-family: $sans, sans-serif;
  padding: 12px 0;
  border-bottom: 5px solid $primary;
  a {color: white; text-decoration: none}
  #logo_container {
    flex: 5;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    sup {
      font-size: .75em;
      margin-top: -0.25em;
      margin-left: 0.1em;
    }
    #logo {
      content: url("data:image/svg+xml,%3Csvg width='42' height='32' viewBox='0 0 42 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:lighten'%3E%3Cpath d='M17.5 16C17.5 20.3487 16.5074 24.261 14.9282 27.0686C13.3401 29.8918 11.2244 31.5 9 31.5C6.77558 31.5 4.65991 29.8918 3.07183 27.0686C1.49256 24.261 0.5 20.3487 0.5 16C0.5 11.6513 1.49256 7.73901 3.07183 4.93142C4.65991 2.10816 6.77558 0.5 9 0.5C11.2244 0.500001 13.3401 2.10816 14.9282 4.93142C16.5074 7.73901 17.5 11.6513 17.5 16Z' stroke='white' stroke-opacity='0.2'/%3E%3C/g%3E%3Cg style='mix-blend-mode:lighten'%3E%3Cpath d='M23.25 16C23.25 20.0296 22.2685 23.6414 20.7208 26.2207C19.1643 28.815 17.1183 30.25 15 30.25C12.8817 30.25 10.8357 28.815 9.27916 26.2207C7.73154 23.6414 6.75 20.0296 6.75 16C6.75 11.9704 7.73154 8.35864 9.27916 5.77927C10.8357 3.18497 12.8817 1.75 15 1.75C17.1183 1.75 19.1643 3.18497 20.7208 5.77927C22.2685 8.35864 23.25 11.9704 23.25 16Z' stroke='white' stroke-opacity='0.4' stroke-width='1.5'/%3E%3C/g%3E%3Cg style='mix-blend-mode:lighten'%3E%3Cpath d='M29 16C29 19.7032 28.0331 23.0093 26.5228 25.3587C25.0056 27.7189 23.0297 29 21 29C18.9703 29 16.9944 27.7189 15.4772 25.3587C13.9669 23.0093 13 19.7032 13 16C13 12.2968 13.9669 8.99069 15.4772 6.64126C16.9944 4.28115 18.9703 3 21 3C23.0297 3 25.0056 4.28115 26.5228 6.64126C28.0331 8.99069 29 12.2968 29 16Z' stroke='white' stroke-opacity='0.6' stroke-width='2'/%3E%3C/g%3E%3Cg style='mix-blend-mode:lighten'%3E%3Cpath d='M34.75 16C34.75 19.3678 33.8029 22.3624 32.3362 24.4809C30.8662 26.6043 28.9591 27.75 27 27.75C25.0409 27.75 23.1338 26.6043 21.6638 24.4809C20.1971 22.3624 19.25 19.3678 19.25 16C19.25 12.6322 20.1971 9.63764 21.6638 7.51912C23.1338 5.39572 25.0409 4.25 27 4.25C28.9591 4.25 30.8662 5.39572 32.3362 7.51913C33.8029 9.63764 34.75 12.6322 34.75 16Z' stroke='white' stroke-opacity='0.8' stroke-width='2.5'/%3E%3C/g%3E%3Cg style='mix-blend-mode:lighten'%3E%3Cpath d='M40.5 16C40.5 19.0205 39.5799 21.6974 38.164 23.5853C36.7484 25.4727 34.9073 26.5 33 26.5C31.0927 26.5 29.2516 25.4727 27.836 23.5853C26.4201 21.6974 25.5 19.0205 25.5 16C25.5 12.9795 26.4201 10.3026 27.836 8.41472C29.2516 6.52728 31.0927 5.5 33 5.5C34.9073 5.5 36.7484 6.52728 38.164 8.41472C39.5799 10.3026 40.5 12.9795 40.5 16Z' stroke='white' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 42px;
      height: 32px;
      margin-right: 12px;
    }
  };
  #account{
    display: block;
    margin-left: auto;
    text-indent: -999px;
    overflow: hidden;
    content: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66699 15.3334L15.0786 15.3347C13.5849 16.8917 12.667 19.0054 12.667 21.3334C12.667 22.7831 13.0229 24.1497 13.6522 25.3505C12.252 25.8174 10.7078 26.0001 9.33366 26.0001C5.70415 26.0001 0.886586 24.7254 0.674264 20.3063L0.666992 20.0001V17.3334C0.666992 16.2944 1.46068 15.4395 2.47447 15.3426L2.66699 15.3334ZM9.33366 0.666748C12.647 0.666748 15.3337 3.35341 15.3337 6.66675C15.3337 9.98008 12.647 12.6667 9.33366 12.6667C6.02033 12.6667 3.33366 9.98008 3.33366 6.66675C3.33366 3.35341 6.02033 0.666748 9.33366 0.666748ZM17.0366 16.6339C17.4563 18.0876 16.5838 19.5988 15.115 19.9622L14.3361 20.1549C14.2762 20.5385 14.2451 20.9321 14.2451 21.3332C14.2451 21.7527 14.2792 22.1641 14.3446 22.5644L15.0638 22.7376C16.5472 23.0948 17.429 24.6215 16.9972 26.0849L16.7488 26.9266C17.3343 27.4408 18.0016 27.8583 18.7276 28.1554L19.3853 27.4637C20.4368 26.3581 22.1998 26.3584 23.2508 27.4644L23.9158 28.1641C24.6405 27.8704 25.3071 27.4568 25.8928 26.9469L25.6288 26.0323C25.2091 24.5786 26.0816 23.0674 27.5504 22.704L28.3287 22.5115C28.3886 22.1279 28.4197 21.7343 28.4197 21.3332C28.4197 20.9135 28.3856 20.5021 28.3202 20.1017L27.6016 19.9286C26.1182 19.5714 25.2365 18.0447 25.6683 16.5813L25.9165 15.7402C25.331 15.2259 24.6637 14.8082 23.9376 14.5111L23.2801 15.2025C22.2287 16.3082 20.4657 16.3079 19.4146 15.2019L18.7496 14.502C18.0248 14.7956 17.3582 15.2092 16.7725 15.719L17.0366 16.6339ZM21.3324 23.3332C20.2649 23.3332 19.3995 22.4377 19.3995 21.3332C19.3995 20.2286 20.2649 19.3332 21.3324 19.3332C22.3999 19.3332 23.2653 20.2286 23.2653 21.3332C23.2653 22.4377 22.3999 23.3332 21.3324 23.3332Z' fill='white'/%3E%3C/svg%3E%0A");;
    width: 27.75px;
    height: 27.5px;
    padding: 2.4px;
  };
  .account_actions {
    position: relative;
    display: inline-block;
    top: 20px;
    left: -150px;
    filter: drop-shadow(0px 0.6px 1.8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3.2px 7.2px rgba(0, 0, 0, 0.13));
    border-radius: 3px;
    ul  {
      background: $white;
      color: $text;
      width: 150px;
      list-style-type: none;
      margin: 0;
      padding: 10px;
      a {color: $text;}
        position: absolute;
    }
  }
  h1 {font-weight: 700;
  font-size: 24px;
  line-height: 32px; color: $white;}
}

//alerts: notice/warnings/failure
.notice {
  background: $notice;
  padding: 10px;
  margin-top: 1em;

  h1 {
    display: flex;
    margin: 0 0 3px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &:before {
      height: 20px;
      width: 20px;
      padding-top: 1px;
      margin-right: 9px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%230b7285'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E");
    }
  }
}

.warning {
  background: $warning;
  padding: 10px;
  margin-top: 1em;

  h1 {
    display: flex;
    margin: 0 0 3px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  
    &:before {
      height: 20px;
      width: 20px;
      padding-top: 1px;
      margin-right: 9px;
      content: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35631 1.63451C8.44557 -0.544838 11.5544 -0.544836 12.6437 1.63451L19.6841 15.7208C20.6668 17.6868 19.2377 20 17.0405 20H2.95955C0.762308 20 -0.666776 17.6868 0.315858 15.7208L7.35631 1.63451Z' fill='%23E5A900'/%3E%3Cpath d='M10.8408 13.1846H9.17285L8.82422 6.50586H11.1895L10.8408 13.1846ZM8.79688 15.5225C8.79688 15.1396 8.89941 14.8503 9.10449 14.6543C9.30957 14.4583 9.60807 14.3604 10 14.3604C10.3783 14.3604 10.6699 14.4606 10.875 14.6611C11.0846 14.8617 11.1895 15.1488 11.1895 15.5225C11.1895 15.8825 11.0846 16.1673 10.875 16.377C10.6654 16.582 10.3737 16.6846 10 16.6846C9.61719 16.6846 9.32096 16.5843 9.11133 16.3838C8.90169 16.1787 8.79688 15.8916 8.79688 15.5225Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}

.failure {
  padding-right: 1em;

  &::after {
    margin-left: .25em;
    height: .25em;
    width: .25em;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35631 1.63451C8.44557 -0.544838 11.5544 -0.544836 12.6437 1.63451L19.6841 15.7208C20.6668 17.6868 19.2377 20 17.0405 20H2.95955C0.762308 20 -0.666776 17.6868 0.315858 15.7208L7.35631 1.63451Z' fill='%23E5A900'/%3E%3Cpath d='M10.8408 13.1846H9.17285L8.82422 6.50586H11.1895L10.8408 13.1846ZM8.79688 15.5225C8.79688 15.1396 8.89941 14.8503 9.10449 14.6543C9.30957 14.4583 9.60807 14.3604 10 14.3604C10.3783 14.3604 10.6699 14.4606 10.875 14.6611C11.0846 14.8617 11.1895 15.1488 11.1895 15.5225C11.1895 15.8825 11.0846 16.1673 10.875 16.377C10.6654 16.582 10.3737 16.6846 10 16.6846C9.61719 16.6846 9.32096 16.5843 9.11133 16.3838C8.90169 16.1787 8.79688 15.8916 8.79688 15.5225Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &-icon::before {
    height: .9em;
    width: .9em;
    display: inline-block;
    padding: 0;
    margin-right: .25em;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35631 1.63451C8.44557 -0.544838 11.5544 -0.544836 12.6437 1.63451L19.6841 15.7208C20.6668 17.6868 19.2377 20 17.0405 20H2.95955C0.762308 20 -0.666776 17.6868 0.315858 15.7208L7.35631 1.63451Z' fill='%23E5A900'/%3E%3Cpath d='M10.8408 13.1846H9.17285L8.82422 6.50586H11.1895L10.8408 13.1846ZM8.79688 15.5225C8.79688 15.1396 8.89941 14.8503 9.10449 14.6543C9.30957 14.4583 9.60807 14.3604 10 14.3604C10.3783 14.3604 10.6699 14.4606 10.875 14.6611C11.0846 14.8617 11.1895 15.1488 11.1895 15.5225C11.1895 15.8825 11.0846 16.1673 10.875 16.377C10.6654 16.582 10.3737 16.6846 10 16.6846C9.61719 16.6846 9.32096 16.5843 9.11133 16.3838C8.90169 16.1787 8.79688 15.8916 8.79688 15.5225Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}


//accordions
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion label {
  cursor: pointer;
}
.accordion .accordion_panel-content {display: none;}
.accordion input:checked {
  ~ .accordion_panel-content {
    display:block;
  }
}

// fti
.fti_response {
  h2, h3, h4, p {margin-bottom: .75em}
  .accordion label::after {
      content: " +";
  }
  .accordion input:checked {
    + label {
        &::after {
        content: " -";
      }
    }
  }
}

// block printing in fti
@media print { .noprint { display:none } }


//pagination styling for kaminari
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
  margin: 1em 0 3em 0;

  .page-map {
    * {
      margin: 0 .5em 0 .5em;
    }

    .page-input {
      width: 1.5em;
      text-align: center;
  
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  .page-item {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      svg *{
        stroke: black;
      }
    }
  }
}
