#registry div {
  width: 100%;
  padding: .25em;
  margin-top: .5em;
  border-left: 1em solid $gray;
}

#registry div .registry-feature {
  font-size: 1.25em;
  font-weight: bold;
}

#registry div.enabled-feature {
  border-left-color: $green;
}

#registry div.enabled-feature .registry-feature {
  color: $green;
}

#registry div.enabled-feature .registry-feature::after {
  content: "\2713";
}