table {width: 100%; border: none;}
th {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  text-align: left;
  border: none;
  margin: none;
  border-bottom: 1px solid #C8C6C4;
}

td {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 1em;
  border: none;
  margin: none;
  border-bottom: 1px solid #EDEBE9;
}
tr:hover td, tr:hover{
  background: #F3F2F1;
}

.display_table {
  padding: 0;
  margin: .5em 0;
  border: none;
}
.display_table td {
  font-weight: 400;
  padding: .25em 0;
  margin: 0;
  border: none;
  font-size: 16px;
}
.display_table th {
  font-weight: 700;
  padding: .25em 0;
  margin: 0;
  border: none;
  font-size: 16px;
}
.display_table th.heading {
  padding-top: 1em;
  padding-bottom: 0;
  border-bottom: 5px solid $text;
}
.display_table th.subhead {
  padding-top: .75em;
  padding-bottom: 0;
  border-bottom: 1px solid $text;
}
.display_table td + td {
  padding-left: .5em;
}
table .numeric {
  text-align: right
}

table .details{
  display: none;
}
table tr.active td {
  background: #EDEBE9;
  border-collapse: collapse;
}
table tr.active + tr.details {
  display: table-row;
  background: #EDEBE9;
}